.skeleton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    position: fixed;
}

.skeleton label, .toggle {
    height: 3rem;
    border-radius: 100px;
    transition: 2s;
}

.skeleton label {
    width: 6%;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 50px;
    position: relative;
    margin: 1rem 0 4rem 0;
    cursor: pointer;
    position: fixed;
    margin-top: 85%;
    margin-left: 190%;
    background-image: url(../../assets/day.jpg);
    background-size: cover;
}

.toggle {
    position: absolute;
    width: 50%;
    background-color: transparent;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .15);
    transition: transform 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.sun-moon {
    font-size: 90%;
    font-weight: bolder;
    width: 65%;
    margin-left: 17.5%;
    margin-top: 12px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.dark {
    opacity: 0;
}

.sun {
    color: rgb(239, 123, 14);
    font-size: 20px;
}

.sun:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transition: 4s;
}

.moon {
    color: #f9d005e7;
    font-size: 20px;
}

.moon:hover {
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    transition: 2s;
}

/* -------- Switch Styles ------------*/
[type="checkbox"]:checked+.app label {
    background-image: url(../../assets/night.jpg);
    z-index: 999999999;
    position: fixed;
}

[type="checkbox"] {
    display: none;
}

/* Toggle */
[type="checkbox"]:checked+.app .toggle {
    transform: translateX(100%);
    background-color: transparent;
    transition: 2s;
}

[type="checkbox"]:checked+.app .dark {
    opacity: 1;
}

[type="checkbox"]:checked+.app .light {
    opacity: 0;
}

/* App */
[type="checkbox"]:checked+.app .skeleton {
    color: white;
}

@media(max-width: 1350px) {
    .skeleton label {
        width: 8%;
        margin-top: 85%;
        margin-left: 185%;
    }
}
@media(max-width: 1150px) {
    .skeleton label {
        width: 9.5%;
        margin-top: 100%;
        margin-left: 185%;
    }
}
@media(max-width: 1000px) {
    .skeleton label {
        width: 10%;
        margin-top: 110%;
        margin-left: 185%;
    }
}
@media(max-width: 900px) {
    .skeleton label {
        width: 12%;
        margin-top: 130%;
        margin-left: 180%;
    }
}
@media(max-width: 730px) {
    .skeleton label {
        width: 14%;
        margin-top: 160%;
        margin-left: 180%;
    }
}
@media(max-width: 640px) {
    .skeleton label {
        width: 16%;
        margin-top: 150%;
        margin-left: 175%;
    }
}
@media(max-width: 600px) {
    .skeleton label {
        width: 17%;
        margin-top: 160%;
        margin-left: 175%;
    }
}
@media(max-width: 400px) {
    .skeleton label {
        width: 22%;
        margin-top: 250%;
        margin-left: 170%;
    }
}
